<div id="modal_cliente_editar" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idclienteModal_e" />

                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombreModal_e" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" id="appModal_e" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" id="apmModal_e" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>DNI</label>
                        <input type="text" class="form-control" maxlength="8" id="dniModal_e" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" id="btnGrabarModalClienteEditar"><span class="btn-group-lg">Grabar</span></button>
                <button class="btn btn-danger" data-dismiss="modal" id="btnCerrarModalClienteEditar"><span class="btn-group-lg">Cerrar</span></button>
            </div>
        </div>
    </div>
</div>