<div id="modal_cliente" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Clientes</h4>
            </div>

            <div class="modal-body">
                <table class="table table-bordered" id="tbcliente">
                    <thead style="background-color: darkgrey; color:white">
                        <tr>
                            <td hidden="hidden">Id_cliente</td>
                            <td>Mombre</td>
                            <td>Apellido Paterno</td>
                            <td>Apellido Materno</td>
                            <td>DNI</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="tabla_cliente"></tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnCerrarModalCliente"><span class="btn-group-lg">Cerrar</span></button>
            </div>
        </div>
    </div>
</div>

