<div id="modal_producto" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Productos</h4>
            </div>

            <div class="modal-body">
                <table class="table table-bordered" id="tbproducto">
                    <thead style="background-color: darkgrey; color:white">
                        <tr>
                            <td hidden="hidden">Id_Producto</td>
                            <td>Descripcion</td>
                            <td>Precio</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="tabla_producto"></tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnCerrarModalProducto"><span class="btn-group-lg">Cerrar</span></button>
            </div>
        </div>
    </div>
</div>
