<form class="needs-validation" novalidate id="frmDataProductoNuevo">
    <div id="modal_producto_nuevo" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Producto</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label>Descripcion</label>
                            <input type="text" class="form-control" id="descripcionModal_n" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label>Precio</label>
                            <input type="text" class="form-control" id="precioModal_n" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" id="btnGrabarModalProductoNuevo"><span class="btn-group-lg">Grabar</span></button>
                    <button class="btn btn-danger" data-dismiss="modal" id="btnCerrarModalProductoNuevo"><span class="btn-group-lg">Cerrar</span></button>
                </div>
            </div>
        </div>
    </div>
</form>


