@{
    ViewBag.Title = "Bienvenido";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SISTEMA DE VENTA</h1>

        <div class="jumbotron">
            <h1 class="display-4"></h1>
            <p class="lead">Programa informático orientado a potenciar la gestión de ventas.</p>
            <hr class="my-4">
            <p>Kenny Lescano - Software Engineer II, Full Stack.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/kenny-lescano-1791b960?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BrEeozTi8QHqrfZyRdSSglA%3D%3D" target="_blank" role="button">LinkedIn</a>
            </p>
        </div>

        <div class="card my-4" style="width: 18rem;">
            <img class="card-img-top" src="~/images/KaitsConsulting.jpg.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Kaits Consulting Group S.A.C. es una firma de Inteligencia de Negocios y Analítica de datos, fundada en mayo del 2014, con el propósito de conectar a las personas y organizaciones con sus datos para lograr resultados asombrosos..</p>
            </div>
        </div>
    </section>

</main>